{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Devman Projects</title>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}" />
  </head>
  <body>
    {% if messages %}
      <div class="container messages mt-3">
          {% for message in messages %}
            <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>
              {{ message }}
            </div>
          {% endfor %}
      </div>
    {% endif %}

    <nav class="navbar container bg-body-tertiary">
      {% if user.is_authenticated %}
        <span class="navbar-brand">{{ user.username }}</span>
      {% endif %}

      <ul class="navbar-nav">
        {% if user.is_authenticated %}
          <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Log Out</a></li>
        {% else %}
          <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Log In</a></li>
        {% endif %}
      </ul>
    </nav>
    {% block content %}{% endblock %}
  </body>
</html>
