{% extends '_base.html' %}
{% load static %}

{% block title %}
  Проект ..., выбор времени созвона
{% endblock %}

{% block content %}
  <div class="container">
    <h1 class="text-center mt-3">Проект "{{project_title}}"</h1>
    <div class="row justify-content-center">
      <form method="POST" action="" class="col-4">
        {% csrf_token %}
        <h4 class="text-center mb-5">c {{start_date|date:'d b.'}} по {{end_date|date:'d b.'}}</h4>
        {% if slots %}
          <p>Выберите время для созвона с командой:</p>

          {% for slot in slots %}
            <div class="form-check">
              <input required 
                {% if slot.disabled %}disabled{% endif %}
                class="form-check-input" type="radio" name="project_meeting_time" 
                value="{{slot.start}},{{slot.manager_id}}"
                id="slot{{ forloop.counter }}" />
              <label class="form-check-label" for="slot{{ forloop.counter }}">
                {{ slot.start }}—{{ slot.end }}
                {% if slot.disabled %}занято{% endif %}
              </label>
            </div>
          {% endfor %}

          <div class="form-check">
            <input required 
            class="form-check-input" type="radio" name="project_meeting_time"
             value=""
              id="slot_nothing" />
            <label class="form-check-label" for="slot_nothing">Ни один не подходит</label>
            <mark>Отсылать админу письмо, чтоб договорился персонально?</mark>
          </div>

          <div class="mt-3">
            <button type="submit" class="btn btn-primary">Сохранить</button>
          </div>
        {% endif %}
      </form>
    </div>
  </div>
{% endblock %}
