{% extends '_base.html' %}
{% load static %}

{% block title %}
  Проект ..., выбор времени созвона
{% endblock %}

{% block content %}
  <div class="container">
    <h1 class="text-center mt-3">Проект Project Automation</h1>
    <div class="row justify-content-center">
      <form method="POST" action="" class="col-4">
        {% csrf_token %}
        <h3 class="text-center mb-5">c 17.10 по 23.10</h3>
        {% if slots %}
          <p>Выберите время для созвона с командой:</p>
          {% for slot in slots %}
            <div class="form-check">
              <input required 
                {% if forloop.counter == 1 %}checked{% endif %}
                class="form-check-input" type="radio" name="slot" value="{{ slot.start }}—{{ slot.end }}" id="slot{{ forloop.counter }}" />
              <label class="form-check-label" for="slot{{ forloop.counter }}">{{ slot.start }}—{{ slot.end }}</label>
            </div>
          {% endfor %}
          <div class="form-check">
            <input required 
            class="form-check-input" type="radio" name="slot" value="" id="slot_nothing" />
            <label class="form-check-label" for="slot_nothing">Ни один не подходит</label>
          </div>
          <div class="mt-3">
            <button type="submit" class="btn btn-primary">Сохранить</button>
            <mark>Заглушка, ничего не сохраняется</mark>
          </div>
        {% endif %}
      </form>
    </div>
  </div>
{% endblock %}
